<div class="container m-5">

    <form class="mt-3 p-4" id="productForm" action="/api/productos" method="POST">
        <p class="h3">Complete los campos con la información del producto</p>
        <div class="form-group">
            <input class="form-control" type="text" name="title" id="title" placeholder="Nombre" required><br>
            <input class="form-control" type="number" name="price" id="price" placeholder="Precio" required><br>
            <input class="form-control" type="url" name="thumbnail" id="thumbnail" placeholder="URL imagen" required><br>
            <input class="form-control" type="number" name="stock" id="stock" placeholder="Unidades" required><br>
            <input class="form-control" type="text" name="description" id="description" placeholder="Descripción" required><br>  
            <input class="form-control" type="text" name="code" id="code" placeholder="Código" required>                               
        </div>
        <button type="submit" class="btn btn-primary">Subir producto</button>
    </form>

</div>

<script>
      
    document.getElementById("productForm").onsubmit = () => {
        let titulo = document.getElementById("title").value;
        let precio = document.getElementById("price").value;
        let titulo = document.getElementById("thumbnail").value;
        let stock = document.getElementById("stock").value;    
        let description = document.getElementById("description").value;   
        let code = document.getElementById("code").value;        
        alert("Nuevo producto agregado \n Título: " + titulo + "\n Precio: $" + precio + "\n Stock: " + stock + "\n Código: $" + code)
    }      
</script>