<div class="container m-5">

    <div class="mt-3">
        <p class="h3">Información del Carrito</p> 

        {{#if cartById}}        
            <div class="table">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th class="text-primary">{{ cartById.id }}</th>
                        </tr>
                    </thead>
                    <tbody>
                            <tr>
                                <td><b>Productos</b></td>
                            </tr>
                            <tr>

                            </tr>
                            {{#each cartById.products as |prod| }}  
                                <tr>
                                    <td> {{ prod.title }} </td>
                                    <td> <img style="width: 2rem;" src="{{ prod.image }}"> </td>
                                </tr>                        
                            {{/each}} 
                    </tbody>
                </table>
            </div>
        {{ else }}
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th></th>                    
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-danger"><b>No se encontraron productos en este carrito</b></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        {{/if}}
    </div>

</div>
